@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Luxurious+Roman&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Bacasime Antique", serif;
  font-family: "Luxurious Roman", cursive;
}
.form-cont {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* background-color: #d81fc5; */
  margin: 0 30px;
}
.home-container {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1111597/pexels-photo-1111597.jpeg?");
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  object-fit: cover;
}
.heading-text {
  font-size: 4.8rem;
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  font-family: inherit;
  background-image: linear-gradient(to bottom, #0ee9f6, #d81fc5);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 4px;
}
.form-container {
  /* max-width: 500px; */
  display: flex;
}
.sub-links {
  display: inline-block;
  margin-top: 2rem;
}
.sub-link:link,
.sub-link:visited {
  font-size: 16px;
  padding: 0 10px;
  color: transparent;
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #0ee9f6, #d81fc5);
  -webkit-background-clip: text;
}
.form {
  background-color: white;
  padding: 3rem;
  width: 400px;
  border: 1px solid #d81fc5;
  border-radius: 8px;
}

.sm-text {
  font-size: 3.2rem !important;
}
.right-side label,
th {
  font-size: 1.8rem;
  width: 50px;
  margin-bottom: 10px;
  background-image: linear-gradient(to bottom, #0ee9f6, #d81fc5);
  -webkit-background-clip: text;
  color: transparent;
}
table {
  width: 500px;
  border-collapse: collapse;
}
td,
th {
  padding: 20px;
}
td {
  font-size: 1.6rem;
  border-bottom: 1px solid #d81fc5;
}
.group {
  display: flex;

  gap: 5px;
  justify-content: center;
  align-items: center;
}
.mg-top {
  margin-top: 30px;
}
.right-side input {
  background-color: #d81fc5;
  display: inline-block;
}
.right-side {
  padding: 50px;
  border: 1px solid #d81fc5;
  /* background-color: #d81fc5; */
}
.left-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.left-side img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  object-fit: cover;
}
.form label {
  display: block;
  text-align: left;

  width: 100%;
  font-size: 18px;
  background-image: linear-gradient(to bottom, #0ee9f6, #d81fc5);
  -webkit-background-clip: text;
  color: transparent;
}
.left-line {
  border-right: 1px solid rgba(0, 0, 0, 0.23);
}

.form input {
  padding: 5px;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
  display: block;
}
.btn-lgin {
  color: white;
  background-image: linear-gradient(to bottom, #85bb12, #be6d81) !important;
}
.white {
  color: white !important;
}
.btn-containers {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 1px 3px 3px rgba(255, 255, 255, 0.471);
  justify-content: center;
  border: 1px solid #d81fc5;
  transition: all 0.3s;
  display: block;
  text-align: center;
}
.tb {
  display: block;
  text-align: center;
  margin-top: 3rem;
}
.btn-containers:hover {
  transform: translate(3px, -5px);
}
.btn-containers:active {
  transform: translate(3px, -3px);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.166);
}
.btns {
  font-family: inherit;
  background-image: linear-gradient(to bottom, #0ee9f6, #d81fc5);
  -webkit-background-clip: text;
  text-align: center;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  color: transparent;
}
.flex-center-alignment {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.flex-center-top-alignment {
  /* height: 90%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  text-align: center;
  justify-content: flex-start;
}

.btn:hover {
  border: 1px solid white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.405);
  background-image: linear-gradient(to left, #0ee9f6, #d81fc5);
  transform: translate(3px, -5px);
}
.btn:active {
  transform: translate(1px, -2px);
}
.button {
  display: inline-block;
  background-color: white;
}
.btn {
  font-family: inherit;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #d81fc5;
  background-color: white;
  background-image: linear-gradient(to bottom, #0ee9f6, #d81fc5);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s;
}
.btn-lg {
  font-size: 4.8rem;
  padding: 3rem 9rem;
}
.btn-md {
  font-size: 1.8rem;
  padding: 1.5rem 3rem;
}
.text-color {
  text-transform: uppercase;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to top, #d81fc5, #0ee9f6);
}

.form-container {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #d81fc5;
  padding: 3rem;
}
